<div class="home-container">
    <!-- <app-slider></app-slider> -->
    <div class="home-content">
      <h2>Welcome to Home Page</h2>
      <p>Some content here...</p>
    </div>
    <div class="home-content">
        <h2>Welcome to Home Page</h2>
        <p>Some content here...</p>
      </div>
      <div class="home-content">
        <h2>Welcome to Home Page</h2>
        <p>Some content here...</p>
      </div>
      <div class="home-content">
        <h2>Welcome to Home Page</h2>
        <p>Some content here...</p>
      </div>
      <button class="btn btn-danger" (click)="getcityDataGen()" >CityData</button>&nbsp;
      <pre>{{ jsonString }}</pre> <!-- ✅ Properly formatted JSON -->
      <div class="home-content">
        <h2>Welcome to Home Page</h2>
        <p>Some content here...</p>
      </div>
      <div class="home-content">
        <h2>Welcome to Home Page</h2>
        <p>Some content here...</p>
      </div>
      <div class="home-content">
        <h2>Welcome to Home Page</h2>
        <p>Some content here...</p>
      </div>
      <div class="home-content">
        <h2>Welcome to Home Page</h2>
        <p>Some content here...</p>
      </div>
      <div class="home-content">
        <h2>Welcome to Home Page</h2>
        <p>Some content here...</p>
      </div>
      <div class="home-content">
        <h2>Welcome to Home Page</h2>
        <p>Some content here...</p>
      </div>
      <div class="home-content">
        <h2>Welcome to Home Page</h2>
        <p>Some content here...</p>
      </div>
  </div>
  