<h3 class="first">Basic</h3>
<i class="pi pi-spin pi-spinner" style="font-size: 2rem; color: #1ea04c;"></i>
    <i class="pi pi-spin pi-cog" style="font-size: 2rem; color: #1ea04c;"></i>
    <i class="pi pi-globe pi-spin" style="font-size: 2rem ; color: #1ea04c;"></i>    
    <i class="pi pi-compass pi-spin" style="font-size: 2rem; color: #1ea04c;"></i>
<div class="p-grid">
    <div class="p-col1">
        <div class="box"><p-card>
                <p-chart type="bar" [data]="data"></p-chart>
            </p-card></div>
    </div>
    <div class="p-col">
        <div class="box">
            <p-card>
                <p-chart type="doughnut" [data]="data2"></p-chart>
            </p-card>
        </div>
    </div>
    <div class="p-col">
        <div class="box">3</div>
    </div>
</div>