.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3f51b5;
  color: white;
  padding: 1rem 2rem;
}
.app-header .logo {
  font-weight: bold;
  font-size: 1.5rem;
}
nav button {
  margin-left: 1rem;
  color: white;
}

.p-field {
  margin-bottom: 1rem;
}


.p-input-icon-left i,
.p-input-icon-right i {
  position: absolute;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  pointer-events: none;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  color: #888;
}

.p-input-icon-left {
  position: relative;
}

.p-input-icon-left input {
  padding-left: 2.5rem;
}

.p-input-icon-right {
  position: relative;
}

.p-input-icon-right input {
  padding-right: 2.5rem;
}

.p-inputswitch.custom-switch-on .p-inputswitch-slider {
  background-color: #28a745 !important;
}

.p-inputswitch.custom-switch-off .p-inputswitch-slider {
  background-color: #dc3545 !important;
}

.p-inputswitch-slider {
  transition: background-color 0.3s ease-in-out;
}