
<p-menubar [model]="items">
  <div>
    <p-autoComplete [(ngModel)]="country" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)" field="name" [size]="30"
    placeholder="Countries" [minLength]="1"></p-autoComplete>
    <!-- <span style="margin-left:10px">Country: {{country ? country.name||country : 'none'}}</span> -->
    <button pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em"></button>
    <p-button label="" icon="pi pi-user" (click)="op.show($event, actualTarget)"></p-button>
    <div #actualTarget></div>
  </div>
</p-menubar>
<p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>


<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
  <p-accordion>
    <p-accordionTab header="Menu 1" [selected]="true">
      <p-listbox [options]="cities1" [(ngModel)]="selectedCity1"></p-listbox>
    </p-accordionTab>
    <p-accordionTab header="Menu 2" [selected]="true">
      <p-listbox [options]="cities1" [(ngModel)]="selectedCity1"></p-listbox>
    </p-accordionTab>
  </p-accordion>
</p-sidebar>

<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
  <div class="p-fluid">
    <div class="p-field">
      <label for="username">Username</label>
      <input id="username" type="text" pInputText [(ngModel)]="username" />
    </div>
    <div class="p-field">
      <label for="password">Password</label>
      <input id="password" type="password" pInputText [(ngModel)]="password" />
    </div>
  </div>

  <p-footer>
    <button pButton type="button" label="Login" icon="pi pi-check" (click)="login()"></button>
    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"
      (click)="display=false"></button>
  </p-footer>
</p-overlayPanel>

<p-inputSwitch [(ngModel)]="checked" [ngClass]="checked ? 'custom-switch-on' : 'custom-switch-off'">></p-inputSwitch>

<div class="p-input-icon-left">
  <i class="pi pi-spin pi-cog" style="font-size: 1.5rem; color: #1ea04c;"></i>
  
</div>
<!-- <p-dialog header="Login" [(visible)]="display" [modal]="true" [closable]="false" [responsive]="true">
  
</p-dialog> -->